---
import Image from 'astro/components/Image.astro';
import Layout from '@layouts/Layout.astro';
import RecipeCard from '@components/recipes/RecipeCard.vue';
import ShowMore from '@components/recipes/LoadMoreRecipes.vue';
import { getRecipes } from '../../services/api.service';
import { CORE_API_TOKEN } from 'astro:env/server';

const items = await getRecipes(24, CORE_API_TOKEN);
---

<Layout>
    <section class="py-20 px-4 sm:px-6 lg:px-8 max-w-7xl mx-auto">
        {
            items?.data?.length > 0 && (
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mb-8">
                    {
                        items.data.map((item) => (
                            <RecipeCard name={item.attributes.name} image={item.attributes.image} excerpt={item.attributes.excerpt}>
                                <Image slot="image" src={item.attributes.image} alt={item.attributes.name} class="recipe-card-image" width="400" height="300" />
                            </RecipeCard>
                        ))
                    }
                </div>
            )
        }

        {
            items?.data?.length > 0 && items.links?.next && (
                <ShowMore client:visible next-page-url={items.links.next} />
            )
        }

        {
            (!items?.data || items.data.length === 0) && (
                <p class="text-xl text-slate-600 max-w-2xl mx-auto text-center mb-12">No recipes found.</p>
            )
        }
    </section>
</Layout>